*{
    margin: 0px;
    padding: 0px;
}
.main{
    display: flex;
    justify-content: space-around;
}
.main .col1{
    height: 200px;
    flex-basis: 20%;
    border: 5px double black;
    background-color: blueviolet;
}
.main .col2{
    height: 200px;
    flex-basis: 20%;
    border: 5px double black;
    background-color: blue;
}
.main .col3{
    height: 200px;
    flex-basis: 20%;
    border: 5px double black;
    background-color: violet;
}
.main .col4{
    height: 200px;
    flex-basis: 20%;
    border: 5px double black;
    background-color: red;
}
@media(max-width:576px){
    .main{
        flex-direction: column;
    }
}