*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    padding: 5%;
}

.box{
    column-count: 3;
    column-gap: 100px;
    text-align: justify;
    column-rule: 2px dashed black;
}