*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: black;
}
#p1{
    height: 500px;
    width: 90%;
    border: 1px solid black;
    margin: 5%;
    padding: 20px;
    background-color: antiquewhite;
}
#p1 a{
    text-decoration: none;
    font-weight: bold;
}
#p2{
    height: 500px;
    width: 90%;
    margin: 5%;
    border: 1px solid black;
    padding: 20px;
    background-color: antiquewhite;
}
#p2 a{
    text-decoration: none;
    font-weight: bold;
}
#p3{
    height: 500px;
    width: 90%;
    margin: 5%;
    border: 1px solid black;
    padding: 20px;
    background-color: antiquewhite;
}
#p3 a{
    text-decoration: none;
    font-weight: bold;
}
#p1,#p2,#p3{
    